body {
    background-color: #050505;
    color: #00ff41;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
}

.terminal {
    background: #0a0a0a;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border: 1px solid #00ff41;
    box-shadow: 0 0 15px #00ff4133;
}

#log-console {
    background: #001a00;
    padding: 10px;
    font-size: 0.8rem;
    margin: 20px 0;
    border-left: 3px solid #00ff41;
    min-height: 1.2rem;
}

.room {
    display: none;
}

.room.active {
    display: block;
}

.task {
    background: #111;
    padding: 20px;
    border: 1px dashed #00ff41;
    margin: 20px 0;
    font-weight: bold;
    line-height: 1.5;
}

.progress-bar {
    background: #222;
    height: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#progress-fill {
    background: #00ff41;
    height: 100%;
    width: 0%;
    transition: width 0.5s;
}

input {
    background: black;
    border: 1px solid #00ff41;
    color: white;
    padding: 10px;
    width: 100px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

button {
    background: #00ff41;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background: #008f11;
}

.badge {
    font-size: 4rem;
    margin: 20px 0;
}
